name: ⛓️ Tests @nibiruchain/ts-sdk

on:
  pull_request:
    branches: ["develop", "main"]
  push:
    branches: ["main"]

jobs:
  checkout_cache_install:
    runs-on: ubuntu-latest
    env:
      VALIDATOR_MNEMONIC: ${{ secrets.VALIDATOR_MNEMONIC }}
      VALIDATOR_ADDRESS: ${{ secrets.VALIDATOR_ADDRESS }}
      LCD_ENDPOINT: "http://127.0.0.1:1317"
      GRPC_ENDPOINT: "127.0.0.1:9090"
      TENDERMINT_RPC_ENDPOINT: "http://127.0.0.1:26657"
      USE_LOCALNET: true
      WEBSOCKET_ENDPOINT: "ws://127.0.0.1:26657/websocket"
      CHAIN_ID: "nibiru-localnet-0"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Run Nibiru network in the background (scripts/localnet.sh)
        run: |
          # Install nibid CLI
          # Use https://get.nibiru.fi/ to get the most recent release.
          curl -s https://get.nibiru.fi/@v0.21.9! | bash
          # Sanity check nibid CLI
          nibid version
          # Start local network
          bash scripts/localnet.sh &

      - name: Setup NodeJS with yarn caching
        uses: actions/setup-node@v3
        with:
          node-version: "lts/hydrogen"
          cache: "yarn"

      - name: yarn install
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: "Tar files"
        run: tar -cf preview_image.tar ./

      - name: Upload preview_image
        uses: actions/upload-artifact@v4
        with:
          name: preview_image
          path: ./preview_image.tar

  build:
    runs-on: ubuntu-latest
    needs: [checkout_cache_install]
    steps:
      - name: Download preview_image
        uses: actions/download-artifact@v4
        with:
          name: preview_image

      - name: Untar files
        run: tar -xf preview_image.tar

      - name: yarn build
        uses: borales/actions-yarn@v4
        with:
          cmd: build

  test:
    runs-on: ubuntu-latest
    needs: [checkout_cache_install]
    steps:
      - name: Download preview_image
        uses: actions/download-artifact@v4
        with:
          name: preview_image

      - name: Untar files
        run: tar -xf preview_image.tar

      - name: yarn test
        uses: borales/actions-yarn@v4
        with:
          cmd: test

      - name: "Run examples (packages/examples)"
        run: |
          yarn run tsx packages/examples/examples.test.ts
          # tsx is a TS script executor similar to ts-node, except it runs more
          # consistently and has a more lightweight implementation.

      - name: Jest Coverage Comment
        uses: MishaKav/jest-coverage-comment@main

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: "SonarQube Quality Gate"
        uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
