name: ⛓️ Tests

on:
#  pull_request:
#    branches: ["main", "release/*"]
#    paths: ["**.js", "**.ts", "**.tsx", "**.json"]
#  push:
#    branches: ["main", "release/*"]
#    paths: ["**.js", "**.ts", "**.tsx", "**.json"]
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref }}
  cancel-in-progress: ${{ ! (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) }}

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      CHAIN_HOST: localhost
      VALIDATOR_MNEMONIC: ${{ secrets.VALIDATOR_MNEMONIC }}
      VALIDATOR_ADDRESS: ${{ secrets.VALIDATOR_ADDRESS }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup NodeJS and npm
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install yarn using npm
        run: npm install -g yarn
      - name: Setup NodeJS with yarn caching
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "yarn"
      - name: Install dependencies
        run: yarn --prefer-offline --check-files
      - name: Build the application
        run: yarn build --include-dependencies || yarn build --parallel --include-dependencies
      - name: Run chaosnet
        uses: NibiruChain/localnet-action@v1.1
        id: chaosnet
        with:
          services: nibiru pricefeeder
          ghtoken: ${{ secrets.GITHUB_TOKEN }}
          ghactor: ${{ github.actor }}
      - name: sleep 30 seconds
        run: sleep 30
      - name: Run all tests
        run: yarn test --verbose --coverage --testPathIgnorePatterns faucet.test.ts

      # ---- Individual test flows: In the future, we can separate the
      # ---- e2e tests from the unit tests. Testing on a live chain poses challenges.
      # - name: test sdk.Dec conversions in the common package
      #   run: yarn test -t 'SdkDec'
      # - name: test node connections with http
      #   run: yarn test -t 'node connection'
      # - name: test cosmjs and nibiru queries
      #   run: yarn test -t 'test query module'
